# Web Framework
fastapi>=0.115.5
uvicorn[standard]>=0.32.1

# Database
sqlalchemy[asyncio]>=2.0.36
asyncpg>=0.30.0
greenlet>=3.1.1

# Validation
pydantic>=2.10.3
pydantic-settings>=2.6.1
email-validator>=2.2.0

# Security
bcrypt==4.1.2
pyjwt>=2.10.1

# Email
aiosmtplib>=3.0.2

# Cache
redis>=5.2.0
